
.test_container 
{
    position: static;
}
/* not affected by top, left, right, bottom */
.test_container1
{
    background-color: red;
    position: static;
    left: 30px;

}
/* affected by top left right bottom. */
.test_container2
{
    background-color: blueviolet;
    position:relative;
    left: 30px;
}

/* stays static relative ot the page.  */
.test_container3
{
    background-color: mediumseagreen;
    position: fixed;
    left: 30px;
}
/*  */
.test_container4
{
    background-color: maroon;
    position: absolute;
    left: 30px;
}
