 /*Lecture 17*/

/*3 different font things we could modify: 
font families, font styles, font size.*/
/*first work with font families.*/

/*font families changes the style of
the text. most of the time, font families
are added inside the body, or you can create 
html tag . for example:*/

/*may have to download font families, and
link them to our project.*/

/*good idea to have more than one font family
so that there's a fallback font , in case
browser can't understand what font we 
want to use. */

/*suppose we did bring fonts into our project.
when i link fonts in with more than one word
, i have to use double quotations. */

html
{
	font-family: "Times New Roman", serif, sans-serif;
}


/* we can also modify text. for example.
can do text-align: center.
	   text-align: right. etc.

can also add text styles. */
body
{
/*	background-image: url(space.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #444;
	text-align: center;
}

.container
{



}


h1, h2, h3
{
	color : #ffffff;
	line-height:  1rem;
	font-style: italic;
}

/*can also work with font size to specify size 
can define size with pixel (px), or remunit. 
when we specify pixels, its a very hard 
set value. make sure we use rem units 
accordingly
 */

 /*can also do font-style: italic, normal, oblique*/
h2
{
	font-size: 30px;
	font-style: normal;
}

.formatting
{
	font-size: 25px;
	line-height: 2em;
	color: white;
}
/*anchor elements have their own styling.
they are blue, and underligned by 
default*/
a
{
	/*can change the text
	decoration, overwrite the default
	style. */

	/*doing this, we spread letters
	out, make letters yellow, and
	increase the font size*/
	text-decoration: none;
	font-size: 20px;
	color: yellow;
/*	letter-spacing: 10px;*/	
	word-spacing: 30px;
	/*take the text, and put it to
	upper case*/
	text-transform: uppercase;
	/*we can also do some text 
	formatting.*/
}

.borderImg
{

	border: 10px dashed red ;

}



ul li 
{
	color: white;
	font-size:  20px;

}

ul > li
{
	color: yellow;
}



/*in summary, we can manipulate font by:

font-size
color
text-transform allows us to make all things all caps.
word-spacing, or letter-spacing controls spacing between words and letters.
text-decoration allows us to underline, or take away underline.
font-style allows us to also italize or do other things to certain areas
text-align allows us to align the text into differnet regions of the website. 
font-family allows us to change the type of font we use for our website. 

*/







