 /*Lecture 18*/



body
{

	background-color: #444;
	text-align: center;
}

.container
{



}


/* In order to use the font family, google API basically tells you how to do this, but 
just copy paste whatever the font is, it's ok to use space. I added the mono space and
cursive just following the instructions of the google API found after i selected the fonts
and generated the link*/

/*some of these fonts use a word after, suhc as mono space, or cursive. I believe these
to be "fall back" fonts, in case those fonts don't work. */
h1
{
	color : #ffffff;
	line-height:  2rem;
	font-family: 'Tangerine', serif, sans-serif;
}

h2
{
	color : #ffffff;
	line-height:  2rem;
	font-family: 'Source Code Pro', mono space;
}

h3
{
	color : #ffffff;
	line-height:  2rem;
	font-family: 'Nova Flat', cursive;
}

.formatting
{
	font-size: 25px;
	line-height: 2em;
	color: white;
}

a
{
	
	text-decoration: none;
	font-size: 20px;
	color: yellow;
	word-spacing: 30px;
	
	text-transform: uppercase;
	
}

.borderImg
{

	border: 10px dashed red ;

}



ul li 
{
	color: white;
	font-size:  20px;

}

ul > li
{
	color: yellow;
}



