.containerMain
{
	position:relative;
	display: flex;
	flex-direction: column;
	align-items: center;	
	width: 100%;
	height:100%;
	margin:0;
	padding: 0;
	

} 
.subcontainerMain
{
	padding-right: 8vw;
    padding-left: 8vw;
    padding-bottom: 3vw;
    padding-top: 5vw;
	width: 100%;
	height: 100%;
}
/*  --------------- main body primary msg ---------------- */


.headerClass
{
	display: block;
	color: #fff;
	font-size: 60px;
	height: 100%;
	width: 100%;
	text-align: center;
	margin-bottom: 80px;
}

.tilesContainerClass
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 300px;
	width: 100%;
}

.tileClass
{
	color: #fff;
	width: 250px;
	height: 200px;
	border: 1px solid rgb(117, 35, 35);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Poppins;
}

.tileHeader
{
	font-size: 20px;
	border-bottom: 4px solid rgb(117, 35, 35);
}
.hrClass
{	
	display: block;
	background-color: rgba(255,255,255,.12);
	border: none;
	height: 1px;
	width: 100%;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
	color: #bbb;
	box-sizing: content-box;
}

.tileContentContainer
{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	padding-right: 2vw;
	padding-left: 2vw;
	text-align: center;

}
.socialMediaMainUl
{
	display:flex;
	list-style-type: none;
	width: 100%;
	height: 100px;
	padding: 0;
	margin: 0;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
}

.socialMediaMainA
{
	color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(255, 255, 255);
	text-decoration: none;
	
} 

.socialMediaMainA:hover
{
	color: rgb(179, 179, 179);
	border-bottom: 1px solid rgb(179, 179, 179);
	transition: all 0.1s ease-out;
}

.socialMediaMainAnchorIcons
{
	color: rgb(255, 255, 255);
	text-decoration: none;
	
} 

.socialMediaMainAnchorIcons:hover
{
	color: rgb(179, 179, 179);
	transition: all 0.1s ease-out;
}


@media screen and (max-width: 1100px)
{
	.tilesContainerClass
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 700px;
		width: 100%;
		margin-bottom: 40px;
		
	}
	.tileClass
	{
		color: #fff;
		width: 300px;
		padding-right: 50px;
		padding-left: 50px;
		
	}
}