.containerMain
{
	position:relative;
	display: flex;
	flex-direction: column;
	align-items: center;	
	width: 100%;
	height:615px;
	margin:0;
	padding: 0;
	

} 
.subcontainerMain
{
	padding-right: 8vw;
    padding-left: 8vw;
    padding-bottom: 3vw;
    padding-top: 5vw;
	width: 100%;
	height: 100%;
}
/*  --------------- main body primary msg ---------------- */


.headerClass
{
	display: block;
	color: #fff;
	font-size: 60px;
	height: 60px;
	width: 100%;
	text-align: center;
	margin-bottom: 4vw;
}

.tilesContainerClass
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 300px;
	width: 100%;
}

.tileClass
{
	color: #fff;
	width: 200px;
	height: 200px;
	border: 1px solid rgb(117, 35, 35);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hrClass
{	
	display: block;
	background-color: rgba(255,255,255,.12);
	border: none;
	height: 1px;
	width: 100%;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
	color: #bbb;
	box-sizing: content-box;
}