.containerMain
{
	position:relative;
	display:block;
	width: 100%;
	height: 100%;
	min-height: 615px;
	margin:0;
	padding: 0;
	background-color: rgba(0, 0, 0);
} 

/*  --------------- main body primary msg ---------------- */

.primaryMsg
{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-height: 615px;
	z-index: 10;
}
.primaryBGpic
{
	width:100%;
	height: 100%;
	min-height: 615px;
	z-index: -1;
}
.BGpic
{
	width: 100%;
	height: 100%;
	min-height: 615px;
	opacity: 0.7;
}

.headerClass
{
	color: #fff;
	font-size: 100px;
}

.subtitleClass
{
	color: #fff;
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 15px;
}
.buttonClass
{
	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-family: Poppins;
	margin: 4px 2px;
	cursor: pointer;
}
p
{
	color: #fff;
}