.navContainer
{
    display: none;
}
.menuButtnContainer
{
    display: none;
}

@media screen and (max-width: 1000px)
{
    .navContainer
    {
        display: block;
        position: relative;
        right: 20px;
        width: 80px;
        height: 100%;
    }
    .menuButtnContainer
    {
        position: absolute;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        top: 0px;
        right: 20px;
        width: 80px;
        height: 70px;
        text-transform: none;
        margin: 0;
        padding: 0;
        z-index: 1000;
    }
    .menuButtn
    {
        position : absolute;
        width: 30px;
        height: 70px;
        margin: 0;
        padding: 0;

    }
    .menuButtnTop
    {
        background-color: #fff;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        content: '';
        width: 30px;
        height: 1px;
        transform: translatey(-5px);
        transition: transform 250ms cubic-bezier(.2,.6,.3,1),width 250ms cubic-bezier(.2,.6,.3,1);
        will-change: transform,width;

    }

    .menuButtnTopActive
    {
        transform: translatex(1px) rotate(-135deg);
        width: 30px;
    }

    .menuButtnBottom
    {
        background-color: #fff;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        content: '';
        width: 30px;
        height: 1px;
        transform: translatey(5px);
        transition: transform 250ms cubic-bezier(.2,.6,.3,1),width 250ms cubic-bezier(.2,.6,.3,1);
        will-change: transform,width;

        
    }

    .menuButtnBottomActive
    {
        transform: translatex(1px) rotate(135deg);
        width: 30px;
    }
}
