.menuButtn 
	{
		display:none;

	}

@media screen and (max-width: 1100px)
	{	
    /*  --------------- navbar - mobile ---------------- */
	.menuButtn 
	{
		opacity: 1;
		padding: 0;
		position: absolute;
		right: 20px;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width:80px;
		height: 70px;
		text-decoration:none;
		color: #fff;
		z-index: 100;
		opacity: 1;
		cursor: pointer;

	}
	.menuButtn.transition 
	{
		transition:all 0.2s ease-out;
	}		

	.menuButtnTop
	{	
		width: 30px;
		height: 1px;
		background: #fff;
		border-radius: 5px;

	}
	.menuButtnTop::after
	{
		content: '';
		position: absolute;
		text-align: center;
		width: 30px;
		height: 1px;
		background: #fff;
		border-radius: 5px;
		transform: translateY(10px);

	}
	
	
	.menuButtnTop.open
	{
		transform: rotate(45deg) ;
		transition: inherit;
	}	
	.menuButtnTop.open::after
	{
		transform: rotate(90deg) ;
		transition: inherit;
	}
	
	.menuButtnTop.closed,
	.menuButtnTop.closed::after
	{
		transform: 0;
		transition: inherit;
	}
	
    
   

}