
.containerMain
{
	position: fixed;
    /* background-color: rgb(32,32,32); */
	background-color: rgb(0,0,0);
	width: 100vw;
	height: 70px;
	display:flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
    z-index: 100;
	overflow-x: hidden;	
	overflow-y:hidden;
	border-bottom: 2px solid rgb(32,32,32); 

}
.navLinkItems
{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
    z-index: 100;
	overflow-x: hidden;	

}
.navMain
{
	position: absolute;
	right: 20px;
	height: 70px;
    color: #fff;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
	/* margin-right: 4vw; */
    
}

.navHome
{	
	position: absolute;
	top: 24px;
	left: 20px;
    width: 100px;
	height: 70px;
	padding: 0;
	margin: 0;
	color: #fff;
    font-family: Poppins;
	font-size: 13px;
	text-align: center;
}

.navMainUl
{
    position: relative;
	width: 100%;
	height: 70px;
	padding: 0;
	margin: 0;
	display:flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	align-content: center;

}

.navMainLi
{
	width: 100px;
	height: 70px;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	align-items:center;
	margin: 0;
	padding: 0;
}
.navMainAnchor
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding-bottom: 5px;
	padding-top: 5px;
	text-transform:uppercase;
}
.active
{
	border-bottom: 1px solid rgb(255,255,255);
}
/* .navMainAnchor:hover
{
	border-bottom: 1px solid rgb(255,255,255);
	transition: 1s;
} */

.navMainAnchor:after {
	display: block;
	content: '';
	border-bottom: 1px solid rgb(255,255,255);
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;

}
.navMainAnchor:hover:after {
    transform: scaleX(1);
}
.navMainAnchor.fromRight:after
{
	transform-origin:100% 50%;
}
@media screen and (max-width: 1100px)
{
	
	.navLinkItems
	{
		width: 100%;
		height: 100%;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		z-index: 100;
		overflow-x: hidden;	
	}
	.navHome
	{
		position: absolute;
		display:flex;
		flex-direction: column;
		left: 50px;
		width: 40px;
		height: 70px;
		padding: 0;
		margin: 0;
		color: #fff;
		font-family: Poppins;
		font-size: 13px;
		text-align: center;
		
	}

	.containerMain.open
	{
		position: fixed;
		/* background-color: rgb(32,32,32); */
		background-color: rgb(0,0,0);
		width: 100vw;
		height: 260px;
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		z-index: 100;
		overflow-x: hidden;	
		border-bottom: 2px solid rgb(32,32,32); 


	}
	.transition
	{
		transition:all 0.2s ease-out;
	}
	.navMain
	{
		position:absolute;
		left: 50px;
		top: 70px;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 10vw;
		height: 70px;
		color: #fff;
		font-family: Poppins;
		font-size: 13px;
		text-align: center;		
	}
	.navMainUl
	{
		width: 100%;
		height: 70px;
		padding: 0;
		margin: 0;
		display:flex;
		flex-direction: column;
		list-style-type: none;
		justify-content: space-between;
		align-items: center;

	}
	.navMainLi
	{
		width: 100%;
		height: 70px;
		padding-left: 0;
		padding-right: 0;
		padding-top: 7px;
		padding-bottom: 7px;
		display: flex;
		align-items:center;
		cursor: pointer;
		margin: 0;
		text-align: center;
	}
}