.projectItemContainer
{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    
}

.imageContainer
{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image
{
    max-height: 90%;
    max-width: 90%;

}

.textContainer
{
    color: #fff;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleClass
{
    color: #fff;
    font-size: 33px;
    margin-bottom: 30px;
}

.descriptionClass
{
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
}
.buttonContainer
{
    margin-top: 30px;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.buttonClass
{
	background-color: Transparent;
	border: 2px solid rgb(117, 35, 35);
	color: white;
	padding: 21px 46px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	margin: 4px 2px;
	cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.bttnNotActive
{
    display: none;
}
.buttonClass:hover
{
	background-color: rgb(117,35,35);
	transition: all 0.1s ease-out;
}
.anchorClass
{
	text-decoration: none;
    color: white;
    
}
@media screen and (max-width: 1100px)
{
    .projectItemContainer
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        
    }
    .imageContainer
    {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        order: 1;
    }
    .image
    {
        max-height: 90%;
        max-width: 90%;
        order: 1;

    }

    .textContainer
    {
        color: #fff;
        width: 100%;
        height: 100%;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        order: 2;
    }
    .headerClass
    {
        display: block;
        color: #fff;
        font-size: 60px;
        height: 60px;
        width: 50%;
        text-align: center;
        margin-right:0;
        margin-top:0;
        margin-left:0;

        margin-bottom: 4vw;
        padding-left: 80px;
        border-left: 7px solid rgb(117, 35, 35);
        
    }
    .titleClass
    {
        color: #fff;
        font-size: 33px;
        margin-bottom: 30px;
        text-align: center;
        order: 2;
    }
    .descriptionClass
    {
        order: 3;
    }
    .buttonContainer
    {
        order: 4;
    }
}