.projectItemContainer
{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    
}

.imageContainer
{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image
{
    max-height: 90%;
    max-width: 90%;

}

.textContainer
{
    color: #fff;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleClass
{
    color: #fff;
    font-size: 33px;
}

.descriptionClass
{
    text-align: center;
}