.timelineItemContainer
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vw;
    
}

.logoContainer
{
    width: 15%;
    height: 150px;
}

.logo
{
    width: 70%;
}

.textContainer
{
    height: 15%;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.textClass
{
    color: #fff;
    font-family: Poppins;
    font-size: 15px;

}
.titlePositionClass
{
    color: #fff;
    font-size: 15px;
    font-weight: 650;
    font-family: Poppins;
}
.titleCompanyClass
{
    color: #fff;
    font-size: 20px;
}
.bulletPointClass
{
    color: #fff;

}

.linkText
{
	color:rgb(117, 35, 35);
	text-decoration: none;

}
@media screen and (max-width: 1100px)
{

    .timelineItemContainer
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vw;
        
    }
    .logoContainer
    {
        display:flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        min-width: 60px;
        height: 150px;
    }
    .logo
    {
        min-width: 100px;
    }
    .textContainer
    {
        height: 15%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .textClass
    {
        color: #fff;
        font-family: Poppins;
        font-size: 15px;
        text-align: center;

    }
}