.timelineItemContainer
{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    
}

.logoContainer
{
    width: 150px;
    height: 150px;
}

.logo
{
    width: 100px;
}

.textContainer
{
    height: 150px;
    display: flex;
    flex-direction: column;
}

.textClass
{
    color: #fff;
    font-family: Poppins;
    font-size: 15px;

}
.titlePositionClass
{
    color: #fff;
    font-size: 15px;
    font-weight: 650;
    font-family: Poppins;
}
.titleCompanyClass
{
    color: #fff;
    font-size: 20px;
}
.bulletPointClass
{
    color: #fff;

}