
p
{
    display:inline;
    background-color: teal;
}
.test_container p 
{
    display: inline;
    background-color: yellow;
}

.test_container::after
{
    display: block;
    background-color: rgb(25, 0, 255);
    clear: both;
}