/* i want section headers, nav bars, and other stuff 
we want things to stack on top of each other, therefore
*/

/* will take these elements, and take
them as a block , so they stack on top
of each other. */

/* add the below title for clarity on what we're doing */
/* ############## DEFAULTS ############## */
nav, header, footer
{
    display:block;

}

body
{
    /* puts space in line, puts in a nice distribution of space
     */
    line-height: 1;

    /* when a browser doesn't see margin or padding,
    it always likes to add a bit of margin and padding.
    setting this to zero, makes it so that we 
    have more space. */
    margin: 0;
}

/*  ############## Nav Bar ############## */
nav
{
    /* always takes up 100% width of entire screen
    view, whether that be desktop or mobile. */
    width: 100%;
    /* remember we added 0 margin to body? do same
    to nav bar. */
    margin: 0;

}

nav ul
{
    background-color: #eee;
    /* when we collapse our website, some of
    the content on the page doesn't fit. 
    the scroll bars allow you to view it.
    since this is a nav bar, we want no
    scrolling happening. to alleviate,
    add overflow property. */

    /* when elements are too big to show, 
    just clip it. without this, you'd have to
    scroll to see the content.  */
    overflow: hidden;

    /* guarantee all of our margins are 0 */
    margin: 0;
    padding: 0;
}

/* dont wnat nav ul to dictate list elements.  */
/* list-stlye none assures it doesn't add those
bullet points.  */

/* generic top nav class. */
ul.topnav li
{
    list-style: none;
    float: left;
}
/* want to float certain things to the right.. */
/* now i want more specific floating right. */
ul.topnav li.topnav-right
{
    float: right
}

/* take away underline from anchor. */
ul.topnav li a
{
    display: block;
    text-decoration:  none;
    /* font-size: 16px; */
    min-height: 16px;
    text-align: center;
    /* adding room here. */
    padding: 14px;
    text-transform: uppercase;
    color: #666
}

/* we also want some sort of hover effect. */
/* :hover allows us to style when we hover
mouse over things.  */
ul.topnav li a:hover 
{
    background-color: #0080ff;
    color: #fff;
}