 /*Lecture 21*/



body
{
	background-color: #444;
}

.container
{

}

h1
{
	color : #ffffff;
	line-height:  2rem;
	font-family: 'Tangerine', serif, sans-serif;
}

h2
{
	color : #ffffff;
	line-height:  2rem;
	font-family: 'Source Code Pro', mono space;
}

h3
{
	color : #ffffff;
	line-height:  2rem;
	font-family: 'Nova Flat', cursive;
}

.formatting
{
	font-size: 25px;
	line-height: 2em;
	color: white;
}

a
{
	text-decoration: none;
	font-size: 20px;
	color: yellow;
	word-spacing: 30px;
	text-transform: uppercase;
}


img
{
	max-width: 100%;
	height: auto;
	padding: 5px;
	opacity: 1.0;
	/* to get margin auto to work, we need to 
	use display: block , like he taught us in the 
	last lecture */
	margin: auto;
	display: block;

}
.borderImg
{
	border-radius: 10px;
	border: 2px solid #ddd;
	width: 200px;
	height: 200px;
	padding: 5px;

}

button
{
	color: white;
	background: red;
	border-radius: 12px;
	border: none;
	font-size: 25px;
	padding: 10px 20px 40px 60px;
}	

ul li 
{
	color: white;
	font-size:  20px;

}

ul > li
{
	color: yellow;
}

/*first create a row class, so we can place elements
inside of it.*/

/*we want our to stack on top of each other. but also
want our rows to flex in size. */
.row
{
	display: flex;
	width: 100%;
}

/*every time a row is created, we want something
to happen AFTER it. that means every new row that
is created, we want these rows to stack upon each other.
we also want to use a clear property. if there
are any elements that have a float property,
such as float , right or float, left, we want to
reset those.  the way we do that, we set clear to 
value of both.every time, we will clear floats, and 
then it will allow us to make sure our. add a content
"" , so all of our content can reset.
 */
.row::after
{
	display: block;
	clear: both;
	content: "";
}

/*a column is now going to allow us to position
our elements within these rows.*/

/*dividing 100 into 12, and we get these percentages:*/
.col-1  {width: 8.33%; }
.col-2  {width: 16.66%; }
.col-3  {width: 25%; }
.col-4  {width: 33.33%; }
.col-5  {width: 41.66%; }
.col-6  {width: 50.0%; }
.col-7  {width: 58.33%; }
.col-8  {width: 66.66%; }
.col-9  {width: 75.0%; }
.col-10  {width: 83.33%; }
.col-11  {width: 91.66%; }
.col-12  {width: 100.0%; }


/*when we're working with rows, one thing that will
help us, is that we want to add a box sizing 
property*/

/*in our page, we'll have elements with  padding
and margin in them. sometimes, the element may 
display larger than it actually is. we are grabbing
every single element with this property, and it makes
it part of the totla dimension of the elmeent. it
will help keep all our content in realistic dimensions
that will fit nicely inside of our columns. */
* {
	box-sizing: border-box;
}


/*this last class we'll create is using an attribute
selector: */

/*when  we add a column class, this will give us
our border and padding defined below.*/
[class* = "col-"]
{
	border: 2px solid red;
	padding: 15px;
	/* when we're building new columns, we want
	to make sure they're stacking from left to right. 
	helps all the colors align properly. */
	float: left;
}


/*Questions: */
/*what does float do? there are some other things i don't 
understand. */
/*what does display: flex do ? what about display: block? not sure i fully understand .*/
/*what does line-height do ? */
/* what is the clearing of the rows doing exactly?  */
/* how does the .row::after work? */
/* what does max-width do ? */
/* what does * do, what does box-sizing do ? */
/* i dont know what margin: auto is. */

/* max width makes it so that you can get smaller than any specific width, but as soon as you
 try to go over the max width, it will not expand any further. it CAN be smaller width though, if that's what you prefer
 */

 /* min width makes it so that you can get bigger than that specific width, but as soon as you try to be smaller than
 the min width, it will not let you,  it will not let you.*/

/**/


/*Summary: */
/*allows us to divide our website into sectinos. */


/* Each element has different types of display by 
default. 

For example, a div is display: block by default. 
The box is the full width of the page, and as high 
as necessary to contain all the content. Blocks
can be spaced out with margin. 

In contrast <span> only takes width of its contents
and doesn't respond to properties like widht,
height, margin.
We can set the display property of the span to block
and then all the properties will apply. 
It's common to want propreties of block and inline .

Thankfully display: inline-block.
for example , inline -block is a great way to turn vertical
list into horizontal nav. we can add spacing, padding, and
add background color. 

Table used to be the way things were layed out. 
sometimes the way table was laid it , is beneficial.
We can use class with display:table, and child elements
with display:table cell. Table cells have equal heights,
something that can be difficult to achieve otherwise. 

Web Dev Simplified:
some elements have default display: block by default;

an example is div, which takes up the entire width of 
the page

spans are inline elements, they take up minimum amount
of space possible. no line breaks, they try to be
as close to each other.

image is a combination of the two. display:inline-block.
it tries to take the least amount of space possible.
other things could be in the same line of it. BUT, 
with inline-block, you can set width and height of it.
If i try to change span to a specific height, and width,
the span won't change. this is because inline elements
can't have width or height. 

Lastly, there's display:none, which makes it seem 
like the element has been completely deleted. ;

Another two  common ones.

display:flex, and display:grid are very intricate, 
since they have very specific details. 

display flex explained well by : 

https://www.youtube.com/watch?v=JJSoEo8JSnc&ab_channel=TraversyMedia


display grid explained well by:
https://www.youtube.com/watch?v=jV8B24rSN5o&ab_channel=TraversyMedia

float explained well by:
https://www.youtube.com/watch?v=xara4Z1b18I&ab_channel=tobyonline
 
 TODO: box-sahodw stuff. ;

;


Now , we will learn display:flex ;
*/



