 /*Lecture 16*/

body
{
	background-image: url(space.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container
{



}

/*specificity allows us to give precedence
to certain styles. this is useful when
maybe certain tags are defined differently
in multiple places.*/

/*different css things, have different value
element tags have the least value. when
we have two calls of equal value, the 
one that comes last in CSS is the one that wins.
*/


h1, h2, h3
{
	color : #ffffff;
	text-shadow: 2px 2px 5px black;
	line-height:  1rem;
	font-family: sans-serif;
}

/*this one is saying whenever there's a div
and then an h1, then this rule applies. 
since its inheriting, this is a 2point value.
vs. the standalone "h1" , which only has
1 point value.*/
/*div  h1
{
	color : green;
}*/


/*foo has more priority than id = "foo"*/
html body div.container h1 #foo
{
	color: red ;
}


[id = "foo"]
{
	color: cyan;
}
.container h1
{
	color : red;
}

/*important has nothing to do with specificity. 
however, it can overwrite flow of CSS.*/

/*the important rule ignores all things. 
however, it is not recommended to use this, 
because it makes it hard to debug.  */
h1
{
	color : green !important;
}


.borderImg
{

	border: 10px solid red ;

}



ul li 
{
	color: white;
	font-size:  20px;

}

ul > li
{
	color: yellow;
}










